

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input {
    margin: 10px 0;
}

.ctn.logout {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
}

.logout-icon{
    width: 20px;
}

table {
    width: 400px;
    text-align: center;
}

table, tr, td, th {
    border: 1px solid ;
    border-collapse: collapse;
}